<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}" lang="en">
<head>
    <meta http-equiv="refresh" th:content="${@cookieBasedCsrfTokenRepository.getCookieMaxAge()}" />
    <link th:if="${loginConsent != null}" href="/resources/oss/stylesheets/login-consent.css" th:href="@{${assetBaseUrl}+'/stylesheets/login-consent.css'}" rel="stylesheet"/>
    <script th:if="${loginConsent != null}" type="text/javascript" src="/resources/javascripts/login_consent/consent.js" th:src="@{'/resources/javascripts/login_consent/consent.js'}"></script>
</head>
<div class="island" layout:fragment="page-content">
    <!--  This h1 is set to `.hidden` now, but that may be an acessibility problem.
    IDK what the most useful h1 would be for accessibility, I've added a simple one here. -->
    <h1 th:text="${T(org.cloudfoundry.identity.uaa.zone.IdentityZoneHolder).uaa ? 'Welcome!':'Welcome to '+zone_name+'!'}"
        class="visually-hidden">Sign in to Cloud.gov</h1>
    <div class="island-content">

        <div th:if="${error}"
             class="alert alert-error">
            <p th:text="${#messages.msgOrNull('login.' + error) ?: 'Error!'}"></p>
        </div>

        <div th:unless="${error}"
             th:if="${param.error}"
             class="alert alert-error">
            <p th:text="${#messages.msgOrNull('login.' + param.error[0]) ?: 'Error!'}"></p>
        </div>

        <div th:if="${param.success}" class="alert alert-success">
            <p th:text="${#messages.msgOrNull('login.' + param.success[0]) ?: 'Success!'}"></p>
        </div>

        <th:block th:if="${fieldUsernameShow}">
            <div th:if="${showLoginLinks==true and fieldUsernameShow}" class="card saml-login">
                <div class="row offset-4">
                    <div class="col col-xs-24 offset-4">
                        <h2 class="h2-black mbxl mts">
                            Choose your sign-in method
                        </h2>
                    </div>
                </div>
                <div class="row offset-4">
                    <div th:each="oauthLink : ${oauthLinks}" th:if="${oauthLink.value == 'Login.gov'}"
                        class="col col-xs-20 col-xs-push-2 offset-4">
                        <!-- OAuth: Login.gov (Moved to top) -->
                        <a href="" th:href="${oauthLink.key}"
                            class="saml-login-link btn--block btn--l color-blue text-left">
                            <img class="badge--inline txt-m" alt="Login.gov icon"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAYAAACfKfiZAAACdUlEQVR4Ae2XT2vTYBzHv7+nyWTgQk+ikK0dTND24vAyUEp2EsEJFb0PxIOn6SuwfQXtvHgQ1B39g/TozaIgXsSBzAlWFrvq1RqVqTPP4/MMUqoma590aS9+IA3heZrv53mS55eEINnIOmmD8yUuaJEgstDgFX2AJq7MqP1gvFx03TapcOaLl7rBAwh0RH4yf9ZI+aKCmOEDkh3jxhUmAAcjQywxGs3oA9IMI+a/wMgFDMSArP2wLl6AmZ/BnGXCW1vHxq072Gq1oAs1JwtC5w8p+yAO3FuGIffdqPAXly7De70OHbQvQVi4Yty2cfzmDRiWBR20BMZPnQwN75awz59DYgJmbqZ3nyRnQHhfsddoCXy7/6hnn9aDh9BBS4DLGfhcuR3Z/rZyXXspai9DxaFnd0OX4eMTDnSJVQmjlqHuEowloKpfFFbuKBIX2K0ODEVg39yxyDYrn0PiAmb+cGSblTuCxAXGdqmG6kZMVIDJx7DaolBleHxST0LrfUC9B3x/vtoRCW7Ibc/DL7lte19gTkxgS+eczanCJwikEZMBPkxkOlwmOJYxIuSn4ArjBqsKIhfDRo5+odkosWm33k4xKmLIMDLnd/bqx3brq4LEVQwJDiqfdt+4HQFFpvm0KgTKSBgVrqY+OP6jDmRaT0pJSvwd/o9AkhJh4aECgYRsKu7J6iC0fYZiWHikgGJqs17jjOYHkSCiurzbZ8+672qRfdAH7+1CiQjXwtpCK6EctRBUPtNsVNGDvh5G6pL4KTYtXx5XevUNRt1P+E5/aLJpO46sGXI2hKOOgxlQwT6hvOA26tBAW6BbhBNfXGMfM3GCA34DQkjcwWC8InwAAAAASUVORK5CYII=" />
                            <span class="txt-m">Sign in with Login.gov</span>
                        </a>
                    </div>
                </div>
                <div class="row offset-4">
                    <div class="col col-xs-24 offset-4">
                        <h3 class="h3-black ptxl pbl">
                            Or use your agency credentials:
                        </h3>
                    </div>
                </div>
                <div class="row offset-4">
                    <div th:each="idp : ${idpDefinitions}"
                        th:if="${idp.showSamlLink}"
                        class="col col-xs-12 offset-4">
                        <!-- SAML -->
                        <a href="" th:href="@{saml2/authenticate/{entityAlias}(entityAlias=${idp.idpEntityAlias})}"
                            class="saml-login-link btn--block btn--m color-blue text-left">
                            <img src="" th:src="${idp.iconUrl}" class="badge--inline txt-m"
                                th:alt="${idp.linkText}" />
                            <span th:text="${idp.linkText}" class="txt-m">
                                Use your corporate credentials
                            </span>
                        </a>
                    </div>
                    <div th:each="oauthLink : ${oauthLinks}" th:if="${oauthLink.value != 'Login.gov'}" class="col col-xs-12 offset-4">
                        <!-- Other OAuth links (excluding Login.gov) -->
                        <a href="" th:href="${oauthLink.key}"
                            class="saml-login-link btn--block btn--m color-blue text-left">
                            <img class="badge--inline txt-m" alt="US Flag icon"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAG1BMVEUdM7EeNLIeM7HgQCDaPh/bPh/bPx/////bPyBEby41AAAAUElEQVQI123MNw4CABDEwD3jC/9/MQ1BQrgeOSkIqYe2o2FZtthXgQLgbHVMZdlsfUQFQnHtjP1+8BUhBDKOqtmfot6ojqPzR7TjdU+f6vkED+IDPhTBcMAAAAAASUVORK5CYII=" />
                            <span th:text="${oauthLink.value}" class="txt-m">
                                Use your corporate credentials
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    
    <!-- Optional: Login Consent Modal -->
    <div th:if="${loginConsent != null}" 
         id="loginConsentModal" 
         class="consent-modal-overlay" 
         role="dialog"
         aria-labelledby="consentModalTitle"
         aria-modal="true"
         th:attr="data-consent-hash=${loginConsentHash},data-consent-duration=${loginConsentDurationSeconds}">
        <div class="consent-modal">
            <div class="consent-modal-header">
                <h2 id="consentModalTitle" th:text="${loginConsent.title}">Notice and Consent</h2>
            </div>
            <div class="consent-modal-body">
                <div class="consent-modal-content" th:utext="${loginConsent.text}">
                    <!-- Consent text will be inserted here -->
                </div>
            </div>
            <div class="consent-modal-footer">
                <button type="button" 
                        id="consentAcceptButton" 
                        class="consent-button consent-button-accept"
                        th:text="${loginConsent.acceptButtonText}">I Accept</button>
                <a th:unless="${#strings.isEmpty(loginConsent.declineLink)}"
                   th:href="${loginConsent.declineLink}" 
                   class="consent-button consent-button-decline" 
                   th:text="${loginConsent.declineButtonText}">Decline</a>
            </div>
        </div>
    </div>
</div>
</html>